.post-box {
    background: #f7f7f7;
    padding: 10px;
    border: 1px solid #eee;
    margin: 20px auto;
    width: 60%;
    direction: rtl;
    border-radius: 5px;
    position: relative;
}
.post-box .author{
    position: absolute;
    left: 16px;
}
h2 {
    margin: 7px 10px 20px 7px;
}
